<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

       
       
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        async function addcard(increment) {
            try {
                await $.ajax({
                    type: "GET",
                    url: `/addcard/${$('#pokid').text()}/${increment}`,
                    success: function (data) {
                        $('#qty').text(JSON.parse(data));
                    }
                })
            } catch (error) {
                console.log(error);
            }
        }

       

        window.onload = async function () {

            await $.ajax({
                type: "GET",//http://localhost:5000/log/poklogs/10
                url: `http://localhost:5000/log/poklogs/${$('#pokid').text()}`,
                success: function (data) {
                    $('#numLikes').text(data[0].likes);
                    $('#numDislikes').text(data[0].dislikes);
                    console.log(data);
                }
            })

        }
    </script>
</head>

<body>

    <div class="img-div">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= id %>.png" alt="">
    </div>


<div>purchase page</div>



    <div class="poke-info">


        <h1>ID: <%= id %>
        </h1>
        <p>Name: <%= name %>
        </p>
        <p>weight : <%= weight %>
        </p>
        <p>Height : <%= height %>
        </p>
        <p>species : <%= species %>
        </p>
    </div>

  

        <div class="gird-container">
            <div>
                <label>Add</label>
            </div>
           <div>
            <input type="button" onclick="addcard(1)" value="+">
           </div>
        </div>

        <div class="gird-container">
            <div>
                <label>Remove</label>
            </div>

            <div>
                <input type="button" onclick="addcard(0)" value="-">
            </div>
        </div>

        <label id="qty"></label>




        <!-- IMPORTANT -->
    <p id="pokid" style="visibility: hidden;"><%= id %></p>

</body>

</html>